@media (max-width:1200px) {
  .bc-price {
    font-size: 20px;
  }
  .bc-discount {
    float: right;
  }
  .bc-title {
    display: block;
  }
}

@media (min-width: 1200px) {
  .bc-name {
    width: 100px;
  }

}
@media (min-width: 1200px) {
  .col-xl-2 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
}
@media (max-width: 560px) {
  .gcaxiS {
      font-weight: 500 !important;
      padding: 12px 0px !important;
      border-bottom: none !important;
  }
}
@media (max-width: 576px) {
  .mobile-block-2 {
    top: 260px;
  }
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none !important;
  }
}
@media (max-width: 1274px) {
  .fixed-header{
    padding: 0px 60px;
  }
}
@media (max-width: 1100px) {
  .fixed-header{
    padding: 0px 40px;
  }
}
@media (max-width: 1000px) {
  .fixed-header{
    padding: 0px 20px;
  }
}
@media (max-width: 769px) {
  .bHSAaK {
    color: rgb(255, 255, 255);
    background-color: rgb(6, 103, 208);
  }
  .ifOfHF {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.bAZAMF {
    position: relative;
    width: 100%;
    min-height: 70px;
}
.JGCrQ {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 auto;
}
.fIBtNI {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    color: rgb(255, 255, 255);
    padding: 20px;
}
.kilXWh {
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.bvNAtM {
    width: 26px;
    height: 36px;
    fill: rgb(255, 255, 255);
}
.gEuGBW {
    width: 100px;
    fill: rgb(255, 255, 255);
}
.eJqTTi {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
}
.bEytMu {
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.gDleTf {
    position: absolute;
    z-index: 5;
    top: 70px;
    right: 0px;
    left: 0px;
    background-color: rgb(6, 103, 208);
    padding: 0px 20px 20px;
}
.fQOLKO {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}
.egyoDP {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.gAwBQN:not(:last-child) {
    margin-bottom: 15px;
}
.gODJiD {
    width: 100%;
    height: 30px;
    flex-shrink: 0;
}
.fqnBwR {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0px;
    color: rgb(255, 255, 255);
    opacity: 1;
}
.bptwyh {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentcolor;
}
.isWqSM {
    font-weight: 350;
}
.fpxFlJ {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}
.fqnBwR {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0px;
    color: rgb(255, 255, 255);
    opacity: 1;
}
.active path {
    fill: rgb(255, 255, 255);
}
.dashboard-nav-head {
  display: none !important;
}
.bioBXh {
    flex-direction: column;
    margin-bottom: 22px;
}
.dsKDus {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(218, 225, 233);
    border-bottom: 1px solid rgb(218, 225, 233);
}
.bEjfnw {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.hujUZP {
    flex-shrink: 0;
    height: 54px;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.kaegdV {
    font-weight: 500;
    color: rgb(6, 103, 208);
    margin: 0px;
}
.iLVkWq {
    font-size: 14px;
    font-weight: 500;
}
.hHPTvu {
    color: rgb(155, 166, 178);
    margin-right: 16px;
    font-size: 16px;
    cursor: pointer;
}
.fMFKXE {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: transparent;
    background: rgb(244, 247, 250);
}
.cybMHe {
    width: 100%;
    margin-top: -1px;
    border-right: 0px;
    border-left: 0px;
}
.cDHkov {
    width: 100%;
    border-collapse: separate;
    caption-side: top;
    padding: 0px;
    background: white;
    border-spacing: 0px;
}
.hAIhbH {
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.lbqheK {
    font-size: 18px;
    user-select: none;
    padding: 28px 36px;
    background: white;
}
.fTjXAK:first-child {
    padding-left: 32px;
}
.fTjXAK {
    cursor: pointer;
    border-top: 1px solid rgb(235, 241, 250);
    padding: 20px 20px 20px 0px;
}
.daPFoE {
    min-width: 140px;
    color: rgb(155, 166, 178);
}
.eEqhwd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 auto;
}
.djBVUy {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}
.bqQztI {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.eVYYCV {
    color: rgb(6, 103, 208);
    padding-right: 16px;
}
.fLhmMj {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(125, 149, 182);
    margin: 0px;
}
.kUrxvt {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(80, 92, 108);
    margin: 0px;
}
.iOgRTW:last-child {
    padding-right: 32px;
}
.cQLVxC {
    width: 132px;
}
.iOgRTW {
    cursor: default;
    border-top: 1px solid rgb(235, 241, 250);
    padding: 20px 20px 20px 0px;
}
.oLaFF {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.hSeBFK {
    min-width: 76px;
    margin-right: 0px;
    color: rgb(255, 73, 73);
    text-align: right;
}
.ioGOhN {
    padding-right: 2px;
}
.hZfuUo {
    width: 100%;
    min-height: 460px;
    margin-bottom: 25px;
}
.dZLnFl {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(218, 225, 233);
    border-bottom: 1px solid rgb(218, 225, 233);
}
.jsKuor {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.iyDBTc {
    border-top: 1px solid rgb(218, 225, 233);
}
.dXjrHK {
    display: block;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.bUIZGb {
    font-size: 14px;
    color: rgb(155, 166, 178);
}
.hGlfgx {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}
.fKLvnq {
    align-self: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.eESSBG {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
.fkdAms {
    color: rgb(78, 92, 110);
}
.kOmjb {
    flex: 0 0 auto;
}
.bwzQDA {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}
.hNsWKQ {
  margin-right: 15px;
margin-top: 15px;
}
.jgOPJB {
  margin-top: 15px;
}
.eRhPdC {
  margin-top: 10px;
}
.header-desktop {
  display: none;
}
.header-mobile {
  display: flex;
}
.desktop-dashboard-section {
  display: none;
}
.mobile-dashboard-section {
  display: block;
}
.desktop-layout {
    display: none !important;
}
.mobile-layout {
  display: flex !important;
}
}
@media (min-width: 769px) {
  .header-desktop {
    display: flex;
  }
  .header-mobile {
    display: none;
  }
  .desktop-dashboard-section {
    display: block;
  }
  .mobile-dashboard-section {
    display: none;
  }
  .desktop-layout {
      display: flex !important;
  }
  .mobile-layout {
    display: none !important;
  }
}
/* Dashboard mobile css */
@media(max-width: 769px) {
  .kqXbQJ {
      position: relative;
      z-index: 0;
  }
  .jsKuor {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
  }
  .gpZiS {
    background-color: rgb(244, 247, 250);
}
.cEukvz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}
.bSByUL {
    width: 100vw;
    margin: 0px;
}
.hwcuo {
    opacity: 1;
    width: 100%;
    transition: opacity 1s ease 0s;
}
.cCkUA {
    display: flex;
    flex-direction: row;
}
.ieLlqX {
    width: 100%;
    padding: 25px 0px;
}
.bioBXh {
    flex-direction: column;
    margin-bottom: 22px;
}
.dsKDus {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(218, 225, 233);
    border-bottom: 1px solid rgb(218, 225, 233);
}
.hujUZP {
    flex-shrink: 0;
    height: 54px;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.bEjfnw {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.kaegdV {
    font-weight: 500;
    color: rgb(6, 103, 208);
    margin: 0px;
}
.iLVkWq {
    font-size: 14px;
    font-weight: 500;
}
.fMFKXE {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: transparent;
    background: rgb(244, 247, 250);
}
.cybMHe {
    width: 100%;
    margin-top: -1px;
    border-right: 0px;
    border-left: 0px;
}
.cDHkov {
    width: 100%;
    border-collapse: separate;
    caption-side: top;
    padding: 0px;
    background: white;
    border-spacing: 0px;
}
.hAIhbH {
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.lbqheK {
    font-size: 18px;
    user-select: none;
    padding: 28px 36px;
    background: white;
}
.fTjXAK:first-child {
    padding-left: 32px;
}
.fTjXAK {
    cursor: pointer;
    border-top: 1px solid rgb(235, 241, 250);
    padding: 20px 20px 20px 0px;
}

.daPFoE {
    min-width: 140px;
    color: rgb(155, 166, 178);
}
.eEqhwd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 auto;
}
.eVYYCV {
    color: rgb(6, 103, 208);
    padding-right: 16px;
}
.dGfOQm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 auto;
}
.hZaUhk {
    width: 100%;
    min-height: 460px;
    margin-bottom: 25px;
}
.hujUZP {
    flex-shrink: 0;
    height: 54px;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.bEjfnw {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.cGouAn {
    height: calc(100% - 56px);
}
.dGhBVr {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.iQjWcV > td {
    padding: 10px 0px;
}
.gSYhVA {
    padding-left: 24px;
    min-width: 175px;
}
.bwzQDA {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.bspARB {
    margin-right: 16px;
}
.cNyicQ {
    width: 38px;
    height: 38px;
}
.jFPVFu {
    display: inline-block;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    color: rgb(78, 92, 110);
}
.hVnzTI {
    padding-right: 20px;
    flex: 1 1 0%;
}
.dKpGkx {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-direction: row;
}
.kFjwNg {
    white-space: nowrap;
}
.hldRYZ {
    display: inline-block;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: rgb(78, 92, 110);
}
.efJyLk {
    display: inline-block;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: rgb(155, 166, 178);
}
.BalancesWidget__Table-jnxs83-1 td .gSYhVA {
  height: 55px;

}
.BalancesWidget__Table-jnxs83-1 tr {
  border-bottom: solid 1px #e2d9ff;
}
.hlFdFL {
    border-top: 1px solid rgb(218, 225, 233);
}

.beGIsU {
    font-size: 14px;
    color: rgb(155, 166, 178);
}
.jYMPPI {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}
.fuinLd {
    align-self: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.fkdAms {
    color: rgb(78, 92, 110);
}
.kOmjb {
    flex: 0 0 auto;
}
.dKQOvF {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.gUPABu {
    margin-right: 15px;
    margin-top: 15px;
}
.lcjvaf {
    font-weight: 500;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: rgb(78, 92, 110);
    -webkit-appearance: none;
    cursor: pointer;
    flex: 1 1 0%;
    padding: 4px 22px 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 225, 233);
    border-image: initial;
    border-radius: 4px;
    outline: none;
    background: url(../img/caret.png) right 8px center / 8px no-repeat rgb(255, 255, 255);
    background-position: right 8px center;
    transition: all 0.25s ease 0s;
}
.btTpSB {
    margin-top: 15px;
}
.dkxpwR {
    margin: 15px 0px;
}
.fARraM:not(:last-child) {
    margin-bottom: 15px;
}
}
