.jsKuor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cCkUA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.XBdzB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fQOLKO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dKpGkx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dzZwtP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dKQOvF {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dZhEsd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.eESSBG {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fquiGq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.bwzQDA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ifOfHF {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.cEukvz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* sc-component-id: sc-keyframes-cZxgpV */
@-webkit-keyframes cZxgpV {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes cZxgpV {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* sc-component-id: sc-global-2418457463 */
body.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

/* sc-component-id: sc-keyframes-fSBaP */
@-webkit-keyframes fSBaP {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes fSBaP {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/* sc-component-id: LoadingPlaceholder__ChildrenContainer-sc-1pvyqyp-0 */
.jTAYyv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* sc-component-id: LoadingPlaceholder__LoadingSvg-sc-1pvyqyp-1 */
.Exyua {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  opacity: 1;
  pointer-events: none;
}

/* sc-component-id: LoadingPlaceholder__LoadingContainer-sc-1pvyqyp-2 */
.dIwRFs {
  position: relative;
  width: 100%;
  height: 30px;
}

.beWfFE {
  position: relative;
  width: 100%;
  height: 100px;
}

/* sc-component-id: MiniChart__ChartLoadingPlaceholder-sc-1t6k3ok-0 */
.dyIJBq {
  margin-top: 10px;
}

/* sc-component-id: MiniChart__Wrapper-sc-1t6k3ok-1 */
.eYwPAf {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 16px;
  border: 1px solid #dae1e9;
  border-radius: 4px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* sc-component-id: MiniChart__Hover-sc-1t6k3ok-2 */
.gAupXP {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 4px;
}

.gAupXP:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

/* sc-component-id: MiniChart__HoverButton-sc-1t6k3ok-3 */
.kqaevv {
  padding: 16px 15px;
  border-radius: 4px;
  background-color: #00c57f;
  border: none;
  font-family: Graphik, 'Avenir Next', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.kqaevv:hover {
  background-color: #00a86c;
}

/* sc-component-id: MiniChart__Currency-sc-1t6k3ok-4 */
.dHEaEN {
  margin-bottom: 8px;
}

/* sc-component-id: MiniChart__Timeframe-sc-1t6k3ok-5 */
.cmWcjX {
  min-width: 26px;
  width: auto;
  height: 18px;
  margin-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  background-color: #DAE1E9;
  font-size: 11px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 4px;
}

/* sc-component-id: MiniChart__CurrencyTitle-sc-1t6k3ok-7 */
.fKewdU {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #4E5C6E;
}

/* sc-component-id: MiniChart__Chart-sc-1t6k3ok-11 */
.gFbnyd {
  width: 100%;
  height: 85px;
  box-sizing: border-box;
}

/* sc-component-id: StaticLayout__Section-sc-13zjpvy-0 */
.gaVRGl {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1180px;
}

/* sc-component-id: StaticLayoutRefresh__SectionRefresh-sc-2k7y4l-0 */
.ljIjNm {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  max-width: 1180px;
}

/* sc-component-id: sc-global-2879746200 */
@font-face {
  font-family: Graphik;
  font-weight: 100;
  src: url('../fonts/Graphik-Extralight.woff') format('woff');
}

@font-face {
  font-family: Graphik;
  font-weight: 200;
  src: url('../fonts/Graphik-Thin.woff') format('woff');
}

@font-face {
  font-family: Graphik;
  font-weight: 300;
  src: url('../fonts/Graphik-Light.woff') format('woff');
}

@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url('../fonts/Graphik-Regular.woff') format('woff');
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url('../fonts/Graphik-Medium.woff') format('woff');
}

@font-face {
  font-family: Graphik;
  font-weight: 600;
  src: url('../fonts/Graphik-Semibold.woff') format('woff');
}

@font-face {
  font-family: Graphik;
  font-weight: 700;
  src: url('../fonts/Graphik-Bold.woff') format('woff');
}

@font-face {
  font-family: Graphik;
  font-weight: 800;
  src: url('../fonts/Graphik-Super.woff') format('woff');
}

@font-face {
  font-family: Tiempos;
  src: url('../fonts/TiemposHeadlineWeb-Bold.woff') format('woff');
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Graphik, 'Avenir Next', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html.lock-scroll {
  position: fixed;
  width: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0667d0;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.ReactModal__Content {
  -webkit-overflow-scrolling: touch;
}

/* sc-component-id: Layout__LayoutWrapper-sc-1tjii5n-0 */
.wAgfp {
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* sc-component-id: Layout__Container-sc-1tjii5n-1 */
.iFwbAf {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: transparent;
}

/* sc-component-id: Dropdown__RelativeTrigger-sc-1sbj63p-0 */
.gSWMto {
  position: relative;
}

/* sc-component-id: MobileMenuRefresh__Container-izppz0-0 */
.sqAXO {
  display: none;

}

@media (max-width:992px) {
  .sqAXO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* sc-component-id: MobileMenuRefresh__NavItem-izppz0-3 */
.iwxOoe {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 15px;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
  color: #0667D0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

/* sc-component-id: MobileMenuRefresh__Menu-izppz0-7 */
.cyNLfX {
  width: 20px;
  height: 18px;
  fill: #fff;
  cursor: pointer;
}

/* sc-component-id: NavigationRefresh__DetachedPlaceholder-sc-1w372ax-0 */
.lfYxTS {
  height: 0;
}

@media (max-width:992px) {
  .lfYxTS {
    height: 0;
  }
}

/* sc-component-id: NavigationRefresh__Wrapper-sc-1w372ax-1 */
.gtZOgd {
  min-height: 26px;
  width: 100%;
  background: transparent;
  box-shadow: none;
  position: static;
  left: 0;
  right: 0;
  top: -104px;
  z-index: 4;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

/* sc-component-id: NavigationRefresh__InnerWrapper-sc-1w372ax-2 */
.lohIgL {
  padding: 0;
}

/* sc-component-id: NavigationRefresh__DesktopMenu-sc-1w372ax-3 */
.krtsdo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width:992px) {
  .krtsdo {
    display: none;
  }
}

/* sc-component-id: NavigationRefresh__StyledChevron-sc-1w372ax-4 */
.iXzLRb {
  position: absolute;
  right: -15px;
  top: 50%;
  margin-top: -2px;
  fill: #ffffff;
}

/* sc-component-id: NavigationRefresh__ProductDropdown-sc-1w372ax-5 */
.fjWbUI {
  left: -300px;
}

/* sc-component-id: NavigationRefresh__NavItem-sc-1w372ax-6 */
.dWQGyQ {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width:992px) {
  .dWQGyQ {
    display: block;
  }
}

.bpBpKI {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width:992px) {
  .bpBpKI {
    display: none;
  }
}

/* sc-component-id: NavigationRefresh__SideContainer-sc-1w372ax-7 */
.lcmHTG {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* sc-component-id: NavigationRefresh__Logo-sc-1w372ax-8 */
.boNQhS {
  height: 26px;
  fill: #ffffff;
  position: relative;
  bottom: 4px;
}

/* sc-component-id: NavigationRefresh__LinkStyle-sc-1w372ax-9 */
.lffGEz {
  color: #ffffff;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.lffGEz:hover {
  opacity: 0.8;
}

/* sc-component-id: NavigationRefresh__LinkStyle-sc-1w372ax-9-a */
.gGcPdQ {
  color: #ffffff;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.gGcPdQ:hover {
  opacity: 0.8;
}

/* sc-component-id: NavigationRefresh__SignupLink-sc-1w372ax-10 */
.dxiopv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

@media (max-width:992px) {
  .dxiopv {
    display: none;
  }
}

/* sc-component-id: NavigationRefresh__SignupButton-sc-1w372ax-11 */
.jXBnNV {
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 24px;
  padding: 0 40px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff;
  -webkit-text-decoration: none;
  text-decoration: none;
  background: transparent;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.jXBnNV:hover {
  color: #0667D0;
  background: #fff;
  border-color: #ffffff;
}

@media (max-width:560px) {
  .jXBnNV {
    height: 42px !important;
    padding: 0 20px !important;
  }
}

/* sc-component-id: Header__SkipToContentLinkContainer-owbomu-0 */
.iHYHrW {
  position: absolute;
  top: -1000em;
  left: -1000em;
}

/* sc-component-id: Footer__FooterWrapper-sc-1l8csdm-0 */
.bgYdQh {
  font-size: 16px;
  line-height: 1.5;
}

/* sc-component-id: Footer__FooterSection-sc-1l8csdm-1 */
.TJFls {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
  color: #ffffff;
}

/* sc-component-id: Footer__LogoContainer-sc-1l8csdm-2 */
.dwerno {
  margin-bottom: 14px;
}

.dwerno svg {
  width: 90px;
  fill: #ffffff;
}

/* sc-component-id: Footer__Telephone-sc-1l8csdm-3 */
.fsGfVg {
  line-height: 1.75;
  color: #113355;
  opacity: 0.7;
}

/* sc-component-id: Footer__Copyright-sc-1l8csdm-4 */
.fGuvXY {
  line-height: 1.75;
  margin-top: 28px;
  color: #113355;
  opacity: 0.7;
}

/* sc-component-id: Footer__LinkColumns-sc-1l8csdm-5 */
@media (max-width:560px) {
  .bfbIfa {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

/* sc-component-id: Footer__Links-sc-1l8csdm-6 */
.cpmspG {
  padding-bottom: 45px;
}

/* sc-component-id: Footer__LinkHeading-sc-1l8csdm-7 */
.hQEwtD {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 16px;
  color: #113355;
}

/* sc-component-id: Footer__Link-sc-1l8csdm-8 */
.fhJKzQ {
  color: #113355;
  opacity: 0.7;
  line-height: 1.75;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.fhJKzQ:hover {
  color: #113355;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

/* sc-component-id: Footer__Link-sc-1l8csdm-8-Link */
.fmISka {
  color: #113355;
  opacity: 0.7;
  line-height: 1.75;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.fmISka:hover {
  color: #113355;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

/* sc-component-id: sc-global-641748346 */
.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

/* sc-component-id: sc-global-2878848785 */
.grecaptcha-badge {
  z-index: 10;
}

/* sc-component-id: sc-keyframes-gJlJqt */
@-webkit-keyframes gJlJqt {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    transform: scale(.99);
    margin-top: 110px;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin-top: 100px;
  }
}

@keyframes gJlJqt {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    transform: scale(.99);
    margin-top: 110px;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin-top: 100px;
  }
}

/* sc-component-id: sc-keyframes-ivhHcN */
@-webkit-keyframes ivhHcN {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ivhHcN {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* sc-component-id: Charts__Container-sc-1e31l03-0 */
.fOLHwz {
  min-height: 205px;
}

@media (max-width:1000px) {
  .fOLHwz {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@media (max-width:560px) {
  .fOLHwz {
    -webkit-flex-flow: none !important;
    -ms-flex-flow: none !important;
    flex-flow: none !important;
  }
}

/* sc-component-id: Charts__MiniPriceChart-sc-1e31l03-1 */
.lhIEAP {
  box-shadow: 0 5px 25px rgba(78, 92, 110, 0.05);
}

.lhIEAP:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 10px 25px rgba(78, 92, 110, 0.12);
}

.lhIEAP:not(:first-child) {
  margin-left: 20px;
}

@media (max-width:1000px) {
  .lhIEAP {
    -webkit-flex: 1 40%;
    -ms-flex: 1 40%;
    flex: 1 40%;
    margin: 20px;
  }
}

@media (max-width:560px) {
  .lhIEAP {
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
}

/* sc-component-id: App__SupportedAssets-sc-1v9za6e-0 */
.eSrMgW {
  margin: 0 auto;
  margin-top: -130px;
  margin-bottom: 40px;
  z-index: 0;
}

/* sc-component-id: Features__Wrapper-xbf2yc-0 */
.bhJsBt {
  margin: 60px 0px;
}

@media (max-width:560px) {
  .bhJsBt {
    text-align: center !important;
  }
}

/* sc-component-id: Features__Title-xbf2yc-1 */
.lfzJyv {
  margin-top: 0px;
  margin-bottom: 21px;
  line-height: 48px;
  font-size: 40px;
  color: #0f3256;
  font-weight: 500;
}

/* sc-component-id: Features__Subtitle-xbf2yc-2 */
.hXFcpc {
  font-size: 18px;
  color: #90a1b8;
  margin: 0;
}

/* sc-component-id: Features__FeatureWrapper-xbf2yc-3 */
.fsyhLL {
  margin-top: 100px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width:560px) {
  .fsyhLL {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

/* sc-component-id: Features__Feature-xbf2yc-4 */
.eggRZZ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 24px;
  text-align: center;
}

@media (max-width:560px) {
  .eggRZZ {
    margin-bottom: 40px !important;
  }
}

/* sc-component-id: Features__FeatureTitle-xbf2yc-5 */
.iuaWzD {
  margin-top: 72px;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 500;
  color: #002f6b;
}

/* sc-component-id: Features__FeatureSubtitle-xbf2yc-6 */
.fxsLw {
  color: #90a1b8;
  margin: 14px 0 23px;
  line-height: 24px;
  font-size: 16px;
}

/* sc-component-id: Features__FeatureLink-xbf2yc-7 */
.kFELyp {
  line-height: 28px;
  font-size: 14px;
  color: #1652F0;
  font-weight: 500;
}

/* sc-component-id: Stats__Backdrop-sc-1s4hmlm-0 */
.iABGkd {
  background: #1652F0;
}

/* sc-component-id: Stats__Wrapper-sc-1s4hmlm-1 */
.fCipAo {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  margin: 40px 0px;
}

@media (max-width:560px) {
  .fCipAo {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

/* sc-component-id: Stats__Stat-sc-1s4hmlm-2 */
.jQZFkn {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

@media (max-width:560px) {
  .jQZFkn {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin-bottom: 60px !important;
  }

  .jQZFkn:last-child {
    margin-bottom: 0px !important;
  }
}

/* sc-component-id: Stats__Number-sc-1s4hmlm-3 */
.dDiQFW {
  margin: 0;
  margin-bottom: 12px;
  line-height: 48px;
  font-size: 56px;
  font-weight: 500;
}

/* sc-component-id: Stats__Description-sc-1s4hmlm-4 */
.XsoCh {
  line-height: 24px;
  font-size: 16px;
  opacity: 0.7;
}

/* sc-component-id: Quickstart__Wrapper-sc-11n0ds1-0 */
.hTDwFC {
  width: 80%;
  margin: 60px 0px;
}

@media (max-width:560px) {
  .hTDwFC {
    text-align: center !important;
  }
}

/* sc-component-id: Quickstart__Title-sc-11n0ds1-1 */
.dGlZdj {
  margin: 0;
  line-height: 48px;
  font-size: 40px;
  color: #0f3256;
  font-weight: 500;
}

/* sc-component-id: Quickstart__Subtitle-sc-11n0ds1-2 */
.eXVnkX {
  margin-top: 14px;
  line-height: 28px;
  font-size: 16px;
  color: #043169;
  opacity: 0.7;
  font-weight: 400;
}

/* sc-component-id: Quickstart__Steps-sc-11n0ds1-3 */
.iKJhLp {
  width: 80%;
  margin-top: 60px;
}

@media (max-width:560px) {
  .iKJhLp {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

/* sc-component-id: Quickstart__Step-sc-11n0ds1-4 */
.fWZKHC {
  text-align: center;
}

.fWZKHC img {
  width: 70px;
  height: 70px;
}

@media (max-width:560px) {
  .fWZKHC {
    margin-bottom: 40px !important;
  }
}

/* sc-component-id: Quickstart__StepTitle-sc-11n0ds1-5 */
.ggJjUe {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #233143;
  font-weight: 500;
}

/* sc-component-id: Quickstart__Line-sc-11n0ds1-6 */
.iTtqNP {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  margin-top: 40px;
  background-color: #bac5d4;
}

@media (max-width:560px) {
  .iTtqNP {
    display: none !important;
  }
}

/* sc-component-id: Overview__Wrapper-ks2k6m-0 */
.bZlScC {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width:560px) {
  .bZlScC {
    text-align: center !important;
  }
}

/* sc-component-id: Overview__Title-ks2k6m-1 */
.gscBfq {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  color: #0f3256;
  text-align: center;
}

/* sc-component-id: Overview__Subtitle-ks2k6m-2 */
.hOZJaT {
  color: #90a1b8;
  text-align: center;
}

/* sc-component-id: Overview__AppFeatures-ks2k6m-3 */
.dtxEGf {
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
}

@media (max-width:1170px) {
  .dtxEGf {
    margin-top: 30px !important;
    -webkit-flex-direction: column-reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}

/* sc-component-id: Overview__Feature-ks2k6m-4 */
.cALLfx {
  margin-bottom: 40px;
}

@media (max-width:560px) {
  .cALLfx {
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    padding-left: 0px !important;
  }

  .cALLfx:before {
    width: 0px !important;
  }
}

/* sc-component-id: Overview__FeatureIcon-ks2k6m-5 */
.lfQhOa {
  margin-top: -8px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  margin-right: 28px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 8px 16px rgba(218, 225, 233, 0.557943);
}

@media (max-width:560px) {
  .lfQhOa {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 20px !important;
  }
}

/* sc-component-id: Overview__FeatureTitle-ks2k6m-6 */
.kZjSRJ {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
}

/* sc-component-id: Overview__FeatureText-ks2k6m-7 */
.hwaurb {
  margin: 0px;
  line-height: 1.6;
  color: #838fa0;
}

/* sc-component-id: Overview__LeftCol-ks2k6m-8 */
.eyywdm {
  margin-right: 18px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width:1170px) {
  .eyywdm {
    margin-top: 40px;
    margin-right: 0px;
  }
}

/* sc-component-id: Overview__ImageGallery-ks2k6m-10 */
.OKnQK {
  max-width: 700px;
}

.OKnQK img {
  width: 100%;
}

/* sc-component-id: EmailInputRefresh__Form-sc-1iekb0p-0 */
.bjHCOI {
  margin-top: 8px;
  width: 455px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

@media (max-width:560px) {
  .bjHCOI {
    width: 100% !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

.bjHCOI input {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
  padding: 13px 16px 15px;
  border-radius: 4px;
  -webkit-appearance: none;
  border: none;
  font-family: Graphik, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  color: #0b3466;
}

@media (max-width:560px) {
  .bjHCOI input {
    margin-right: 0px !important;
  }
}

.bjHCOI button {
  padding: 20px 25px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #3acc8a;
  border: none;
  font-family: Graphik, sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

@media (max-width:560px) {
  .bjHCOI button {
    margin-top: 12px !important;
    text-align: center !important;
  }
}

.bjHCOI button:hover {
  background-color: #00a86c;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

/* sc-component-id: CTA__Backdrop-tqfnje-0 */
.gWKOto {
  background-color: #002f6b;
  border-bottom: 1px solid #ffffff80;
}

/* sc-component-id: CTA__Wrapper-tqfnje-1 */
.jkBdGg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  padding: 104px 0;
}

@media (max-width:992px) {
  .jkBdGg {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 76px 0;
  }
}

@media (max-width:560px) {
  .jkBdGg {
    padding: 54px 0 !important;
  }
}

/* sc-component-id: CTA__Heading-tqfnje-2 */
.cgTtSV {
  font-size: 40px;
  color: #fff;
}

@media (max-width:992px) {
  .cgTtSV {
    font-size: 32px;
    text-align: center;
    padding-bottom: 88px;
  }
}

@media (max-width:560px) {
  .cgTtSV {
    padding-bottom: 20px !important;
  }
}

/* sc-component-id: CTA__Title-tqfnje-3 */
.juGeRi {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

@media (max-width:992px) {
  .juGeRi {
    font-size: 32px;
  }
}

/* sc-component-id: CTA__Subtitle-tqfnje-4 */
.pyZiE {
  margin: 0;
  font-weight: 400;
}

/* sc-component-id: EmailInput__Form-sc-1mq7p9q-0 */
.JmKDU {
  margin-top: 24px;
  width: 480px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

@media (max-width:560px) {
  .JmKDU {
    width: 90% !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

.JmKDU input {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
  padding: 16px 16px;
  border-radius: 4px;
  -webkit-appearance: none;
  border: none;
  font-family: Graphik, sans-serif;
}

@media (max-width:560px) {
  .JmKDU input {
    margin-right: 0px !important;
  }
}

.JmKDU button {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #00c57f;
  border: none;
  font-family: Graphik, sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

@media (max-width:560px) {
  .JmKDU button {
    margin-top: 12px !important;
    text-align: center !important;
  }
}

.JmKDU button:hover {
  background-color: #00a86c;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

/* sc-component-id: Home__Backdrop-sc-9mmcpv-0 */
.dwQmQc {
  background: #1652F0;
  margin-left: -5%;
  margin-right: -5%;
  width: 110%;
  /* padding-bottom: 3%; */
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* border-bottom-left-radius: 50% 8%;
  border-bottom-right-radius: 50% 8%; */
}

@media (max-width:560px) {
  .dwQmQc {
    border-bottom-left-radius: 50% 3%;
    border-bottom-right-radius: 50% 3%;
  }
}

/* sc-component-id: Home__Divider-sc-9mmcpv-1 */
.pOyQZ {
  width: 100%;
  height: 1px;
  background-color: #dae1e9;
}

/* sc-component-id: Home__Hero-sc-9mmcpv-2 */
.jGYCEF {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 35px 24px 0;
  min-height: 488px;
}

@media (max-width:560px) {
  .jGYCEF {
    min-height: none !important;
    padding: 50px 24px 113px !important;
  }
}

/* sc-component-id: Home__HeroCta-sc-9mmcpv-3 */
.iDCsal {
  text-align: center;
  color: white;
  max-width: 660px;
}

@media (max-width:560px) {
  .iDCsal {
    text-align: center !important;
  }
}

/* sc-component-id: Home__HeroTitle-sc-9mmcpv-4 */
.ienqVk {
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.17;
  margin: 0;
}

@media (max-width:560px) {
  .ienqVk {
    font-size: 40px !important;
  }
}

/* sc-component-id: Home__HeroSubtitle-sc-9mmcpv-5 */
.jLTGkK {
  opacity: 0.9;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  color: #ffffff;
  margin: 24px 0;
}

/* sc-component-id: MiniChart__Icon-sc-1t6k3ok-6 */
.hZWmKw {
  width: 24px;
  height: 24px;
  fill: #FFB119;
}

.ixbspv {
  width: 24px;
  height: 24px;
  fill: #8DC451;
}

.diKCKX {
  width: 24px;
  height: 24px;
  fill: #6F7CBA;
}

.hctuj {
  width: 24px;
  height: 24px;
  fill: #B5B5B5;
}

.dNZLbX {
  width: 24px;
  height: 24px;
  fill: #59D4AF;
}
.minichart-price {
  width: 100%;
  font-size: 28px;
}
.minichart-discount {
  margin-left: 0px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(78, 92, 110);
  top: -10px;
  font-weight: 700;
}
.chart {
  position: absolute;
    top: 15px;
    stroke-width: 1.7;
    pointer-events: none;
    fill: none;
}
.chart-orange {
  stroke: rgb(255, 177, 25);
}
.dtpCrq {
  align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.gPiVIy {
  font-size: 28px;
}
.bDITPH{
  font-size: 28px;
}
.bc-list {
  min-height: 250px;
}
.bc-item {
  padding: 20px;
  min-width: 20%;
}

.bc-item-body {
  position: relative;
background-color: white;
cursor: pointer;
padding: 16px;
border-width: 1px;
border-style: solid;
border-color: rgb(218, 225, 233);
border-image: initial;
border-radius: 4px;
transition: all 0.2s ease-in-out 0s;
min-width: 205px;
margin: 10px;
}
.bc-name {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
}
.bc-icon {
  width: 24px;
    height: 24px;
    fill: rgb(255, 177, 25);
}
.bc-time {
  min-width: 26px;
    width: auto;
    height: 18px;
    margin-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    background-color: rgb(218, 225, 233);
    font-size: 11px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    display: inline-block;
    float: right;
}

.bc-price {
  display: inline-block;
    font-size: 28px;
    color: rgb(35, 49, 67);
}
.bc-discount {
  display: inline;
  margin-left: 0px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(78, 92, 110);
}
.bc-chart {
  stroke-width: 1.7;
  stroke: rgb(255, 177, 25);
  pointer-events: none;
  fill: none;
}
.chart-green {
  stroke: rgb(141, 196, 81);
}
.chart-blue {
  stroke: rgb(111, 124, 186);
}
.chart-gray {
  stroke: rgb(181, 181, 181);
}
.chart-sky {
  stroke: rgb(89, 212, 175);
}
.bc-title {
  min-height: 50px;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .sqAXO {
    display: flex;
  }
}
.iwxOoe {
    -webkit-box-align: center;
    align-items: center;
    z-index: 100;
    font-size: 16px;
    font-weight: 500;
    color: rgb(6, 103, 208);
    padding: 5px 15px;
    transition: all 250ms ease 0s;
}
.hidden {
  display: none !important;
}
.ctjZPD {
    flex-direction: column;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: scroll;
    /* overflow-y: auto; */
    background: rgb(255, 255, 255);
}
.ctjZPD::-webkit-scrollbar {
    display: none;
}
.gGcPdQ:hover {
  text-decoration: none;
  color: #E2D9FF;
}
.kgxmtN:hover {
  color: white;
  text-decoration: none;
}
.efkCPd:hover {
  text-decoration: none;
}
.iwxOoe {
    -webkit-box-align: center;
    align-items: center;
    z-index: 100;
    font-size: 16px;
    font-weight: 500;
    color: rgb(6, 103, 208);
    padding: 5px 15px;
    transition: all 250ms ease 0s;
}
.flZPju {
    min-height: 66px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px 24px 0px;
}
a {
    color: rgb(6, 103, 208);
    text-decoration: none;
}
.juYZAJ {
    height: 26px;
    fill: rgb(6, 103, 208);
    z-index: 100;
    position: relative;
    bottom: 4px;
    transition: all 250ms ease 0s;
}
.hHAviw {
    z-index: 100;
    width: 18px;
    height: 18px;
    fill: rgb(6, 103, 208);
    cursor: pointer;
}
.gXOfWp {
    background-color: rgb(255, 255, 255);
    z-index: 50;
}
.eKvANe {
    flex-direction: column;
    color: rgb(35, 49, 67);
    padding: 20px;
    border-top: 1px solid rgb(244, 247, 250);
}
.kgxmtN {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(6, 103, 208);
    box-shadow: rgba(78, 92, 110, 0.25) 0px 1px 2px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 20px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 250ms ease 0s;
}
.efkCPd {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(6, 103, 208);
    text-decoration: none;
    transition: all 250ms ease 0s;
}
.dpdaBL {
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(155, 166, 178);
}
.fcdgcU {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex: 1 1 auto;
}
.jpYfbQ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 18px;
    min-width: auto;
    text-decoration: none;
    padding: 0px;
    border-bottom: none;
}
.gcaxiS {
    display: flex;
    min-width: 126px;
    font-size: 15px;
    color: rgb(78, 92, 110);
    padding: 12px 16px;
    border-bottom: 1px solid rgb(218, 225, 233);
    text-decoration: none;
}
.dOfFrH {
    min-height: 260px;
}
.mobile-block {
  position: relative;
top: 70px;
}
.jpYfbQ h4 {
    margin-top: 0px;
    color: rgb(78, 92, 110);
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0px;
}
.kLmeKC {
    padding-right: 15px;
}
.MobileMenuRefresh__NavItem-izppz0-3 {
  z-index: 1;
}
.dXjrHK {
  width: 100%;
text-align: center;
}
.dNVJZX {
    flex-direction: column;
    box-shadow: rgba(78, 92, 110, 0.25) 0px 4px 12px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}
.gDPxkz {
    border-radius: 4px;
    overflow: hidden;
}
.cCkUA {
    display: flex;
}
.hjYvly {
    position: relative;
    background-color: rgb(255, 255, 255);
}
.gwyGJX {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(190, 202, 218);
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 0px;
    margin-right: 28px;
}
.foerRw {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 400px;
    text-decoration: none;
    padding: 18px 30px;
    border-bottom: none;
}
.foerRw h4 {
    margin-top: 0px;
    margin-bottom: 6px;
    color: rgb(78, 92, 110);
    font-weight: 500;
    font-size: 17px;
}
.foerRw span {
    color: rgb(155, 166, 178);
    font-weight: 500;
    font-size: 15px;
}
.dropdown-menu {
  min-width: 815px;
  left: -300px;
}
.inline-block {
  display: inline-block;
}
.eFSTkG {
    font-size: 16px;
    color: rgb(155, 166, 178);
    padding: 15px;
    border-top: 1px solid rgb(218, 225, 233);
    text-align: center;
}
a:hover{
  text-decoration: none;
}
#company {
  min-width: auto;
left: 0px;
padding-bottom: 0px;
}
.fixed-header {
  position: fixed;
  top: 0px;
  /* min-height: 100px; */
  background: white;
  z-index: 10000;
  width: 100%;
  padding: 0px 115px;
      box-shadow: rgba(75, 86, 99, 0.094) 0px 8px 16px;
}
.fixed-header .row * {
  display: inline-block;
}
.fixed-header .row svg {
  min-height: 100px;
}
.fixed-header-right {
  float: right;
    top: 25px;
    position: relative;
}
.fixed-header-btn {
  height: 56px;
display: flex;
-webkit-box-align: center;
align-items: center;
margin-left: 24px;
font-weight: 500;
cursor: pointer;
box-sizing: border-box;
font-size: 14px;
box-shadow: rgba(17, 51, 85, 0.16) 0px 8px 16px;
color: rgb(255, 255, 255);
padding: 0px 40px;
border-width: 2px;
border-style: solid;
border-color: rgb(58, 204, 138);
border-image: initial;
border-radius: 4px;
text-decoration: none;
background: rgb(58, 204, 138);
transition: all 150ms ease 0s;
}
.fixed-header-btn:hover {
  color: rgb(255, 255, 255);
    background: rgb(0, 168, 108);
    border-color: rgb(0, 168, 108);
}
.fixed-header-right a {
  position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all 150ms ease 0s;
    display: flex;
    color: rgb(35, 49, 67);
}

.bcUGRJ {
    width: 96px;
    height: 22px;
    margin-top: 2px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
}
.header .navbar {
  background: rgb(6, 103, 208);
}
.user-name {
  margin-left: 8px;
margin-right: 6px;
font-size: 14px;
font-weight: 500;
color: rgb(255, 255, 255);
padding: 10px;
    top: 5px;
    position: relative;
}
.user-name::after {
  content: none;
}
.iKKFnM {
    width: 10px;
    height: 6px;
    margin-top: 2px;
    fill: rgb(255, 255, 255);
    opacity: 0.5;
}
.bEytMu {
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.user-dropdown {
  float: right;
  display: inline-block;
}
.navbar-first-line {
  width: 100%;
}
.narbar {
  height: 70px;
}
.evaUoH {
    z-index: 1000;
    min-width: 260px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 225, 233);
    border-image: initial;
}
.cELane {
    font-weight: 500;
    color: rgb(78, 92, 110);
    padding: 20px 50px;
}
.cELane img {
    margin-bottom: 12px;
}
.bOchHQ {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.iDTkJQ {
    font-size: 14px;
    color: rgb(155, 166, 178);
}
.jQuMez {
    margin-bottom: 2px;
    font-size: 18px;
}
.bCXxNL {
    border-top: 1px solid rgb(218, 225, 233);
}
.navbar .dropdown-menu {
  min-width: 0px;
      left: -100px;
      padding: 0;
          margin-top: 10px;
}
.jRGLta {
    -webkit-box-align: center;
    align-items: center;
    height: 42px;
    font-weight: 500;
    cursor: pointer;
    padding: 0px 16px;
}
.eTnQQg {
    color: rgb(78, 92, 110);
    flex: 1 1 0%;
}
.hvdlsY {
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 197, 127);
    background-image: url(data:image/svg+xml,%3Csvg width='40' height='8' viewBox='0 0 100 20' xmlns=…2z' fill='%2300aa6d' fill-opacity='0.43' fill-rule='evenodd'/%3E%3C/svg%3E);
    padding: 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 170, 109);
    border-image: initial;
    border-radius: 4px;
}
a:hover {
  text-decoration: none;
}
.iwtdMV {
    margin-left: 8px;
    margin-right: 6px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.bHSNcd {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.cVlNNa {
    min-height: 100vh;
}
.dYbigV {
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 103, 208);
}
.fFuESt {
    width: 1180px;
}
.bEjfnw {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.dbbbDm {
    position: relative;
}
.hKDWTS {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.hKDWTS:hover {
  cursor: pointer;
}
.dTJayv {
    position: absolute;
    display: none;
    top: 40px;
    right: -16px;
    z-index: 10;
}
.ekbJvW {
    flex: 0 0 64px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.kiuQEh {
    position: relative;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 1180px;
}
.cRnEBR {
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 0px;
    padding: 8px 10px;
}
.cqJtcj {
    height: 63px;
}
.kwnafk {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    color: rgb(6, 103, 208);
}
.bptwyh {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentcolor;
}
.ekbJvW {
    flex: 0 0 64px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.kiuQEh {
    position: relative;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 1180px;
}
.biEMqc {
    background-color: rgb(244, 247, 250);
    padding: 0px 24px;
}
.jPHKgM {
    width: 1180px;
    flex: 0 1 auto;
    margin: 0px;
    padding: 0px;
}
.dXjrHK {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.bOlprY {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    color: rgb(125, 149, 182);
}
.kwnafk::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(6, 103, 208);
}
.bOlprY::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid transparent;
}
.hwcuo {
    opacity: 1;
    width: 100%;
    transition: opacity 1s ease 0s;
}
.ieLlqX {
    width: 100%;
    padding: 25px 0px;
}
.dZLnFl {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 225, 233);
    border-image: initial;
}
.bioBXh {
    flex-direction: column;
    margin-bottom: 22px;
}
.hujUZP {
    flex-shrink: 0;
    height: 54px;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(218, 225, 233);
}
.bEjfnw {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.kaegdV {
    font-weight: 500;
    color: rgb(6, 103, 208);
    margin: 0px;
}
.iLVkWq {
    font-size: 14px;
    font-weight: 500;
}
.hHPTvu {
    color: rgb(155, 166, 178);
    margin-right: 16px;
    font-size: 16px;
    cursor: pointer;
}
.bczmnH {
    margin-right: 16px;
    position: relative;
    top: -3px;
    cursor: pointer;
}
.eokATW {
  position: relative;
  top: -3px;
  cursor: pointer;
}
.active path  {
  fill: rgb(6, 103, 208);
}
.fMFKXE {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: transparent;
    background: rgb(244, 247, 250);
}
.bGdFJq {
    width: 33.3333%;
    max-width: 33.3333%;
    flex: 1 1 auto;
}
.dyuhso {
    border-top-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-left-color: initial;
    border-radius: 0px;
    margin: 0px;
    border-width: 0px 1px 1px 0px;
    border-image: initial;
    border-right: 1px solid rgb(218, 225, 233);
    border-bottom: 1px solid rgb(218, 225, 233);
}
.gAupXP {
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    transition: opacity 0.2s ease 0s;
    border-radius: 4px;
}
.boPZWu {
    background-color: rgb(0, 197, 127);
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: white;
    cursor: pointer;
    padding: 16px 15px;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: all 0.2s ease 0s;
}
.iPgsid {
    position: relative;
    width: 100%;
    height: 38px;
}
.dytcxT {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
}
.hZfuUo {
    width: 578px;
    min-height: 460px;
    margin-bottom: 25px;
}
.DcSwO {
    position: relative;
    color: rgb(6, 103, 208);
    cursor: pointer;
    font-size: 16px;
    transition: all 0.25s ease 0s;
}
.bOYWuT {
    position: relative;
    color: rgb(125, 149, 182);
    cursor: pointer;
    font-size: 16px;
    transition: all 0.25s ease 0s;
}
.bOYWuT:not(:first-child) {
    margin-left: 12px;
}
.cGouAn {
    height: calc(100% - 56px);
}
.dGhBVr {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.gSYhVA {
    padding-left: 24px;
    min-width: 175px;
}
.bwzQDA {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.bspARB {
    margin-right: 16px;
}
.jFPVFu {
    display: inline-block;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    color: rgb(78, 92, 110);
}
.cNyicQ {
    width: 38px;
    height: 38px;
}
.iQjWcV > td {
    padding: 10px 0px;
}
.iYWRQz {
    text-align: right;
    flex: 1 1 0%;
}
.hldRYZ {
    display: inline-block;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: rgb(78, 92, 110);
}
.hVnzTI {
    padding-right: 20px;
    flex: 1 1 0%;
}
.efJyLk {
    display: inline-block;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: rgb(155, 166, 178);
}
.hNIYlG {
    flex-shrink: 0;
    height: 54px;
    font-weight: 500;
    color: rgb(125, 149, 182);
    border-top: 1px solid rgb(218, 225, 233);
    transition: all 0.25s ease 0s;
    width: 100%;
}
.gAmlbM {
    min-height: 0px;
}
.dGfOQm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 auto;
}
.dgbnUM {
    margin-top: 42px;
}
.kedMdL {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
}
.ewZjur {
    flex-shrink: 0;
    height: 54px;
    font-weight: 500;
    color: rgb(125, 149, 182);
    cursor: pointer;
    border-top: 1px solid rgb(218, 225, 233);
    transition: all 0.25s ease 0s;
}
.jdpBmd {
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.iSeSXn {
    width: 5px;
    height: 10px;
    margin-top: 2px;
    margin-left: 6px;
    fill: rgb(125, 149, 182);
    transition: all 0.25s ease 0s;
}
.eEstAu {
    text-align: center;
    margin-bottom: 15px;
    font-size: 26px;
}
.cTpMQc {
    text-align: center;
    max-width: 350px;
    margin-bottom: 20px;
}
.fYPgyi {
    position: relative;
    width: auto;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    background-color: rgb(60, 144, 223);
    margin: 0px;
    border-radius: 4px;
    padding: 10px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(46, 123, 196);
    border-image: initial;
}
.gyMOCJ {
    width: 120px;
}
.gMXird {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}
.ewsYkk {
    width: 140px;
    height: 80px;
    margin-bottom: 20px;
}
.iyDBTc {
    height: 64px;
    max-height: 64px;
    border-top: 1px solid rgb(218, 225, 233);
}
.bUIZGb {
    width: 1180px;
    max-width: 1180px;
    font-size: 14px;
    color: rgb(155, 166, 178);
}
.hGlfgx {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 auto;
}
.eESSBG {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
.fkdAms {
    color: rgb(78, 92, 110);
}
.fkdAms:not(:first-child) {
    margin-left: 15px;
}
.kOmjb {
    flex: 0 0 auto;
}
.eRhPdC {
    margin-right: 15px;
}
.hNsWKQ {
    margin-right: 15px;
}
.lcjvaf {
    font-weight: 500;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: rgb(78, 92, 110);
    -webkit-appearance: none;
    cursor: pointer;
    flex: 1 1 0%;
    padding: 4px 22px 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 225, 233);
    border-image: initial;
    border-radius: 4px;
    outline: none;
    background: url(../img/caret.png) right 8px center / 8px no-repeat rgb(255, 255, 255);
    background-position: right 8px center;
    transition: all 0.25s ease 0s;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.ignFzM {
    position: relative;
    width: auto;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    background-color: rgb(60, 144, 223);
    margin: 0px;
    padding: 5px 10px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(46, 123, 196);
    border-image: initial;
}
body {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 350;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    margin: 0px;
}
.jcYmsQ {
  margin-left: 5px;
  fill: blue;
}
.bVDGkl{
  width: 100%;
}
.kvBsYa {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
}
.bVDGkl svg {
  stroke-width: 0.7px;
}
.gPiVIy {
    font-size: 28px;
    color: rgb(35, 49, 67);
}
.bDITPH {
    margin-left: 0px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(78, 92, 110);
    left: 160px;
    position: relative;
    top: 10px;
}
.bOlprY:hover::after {
    border-bottom-color: rgb(125, 149, 182);
}
.DcSwO::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(6, 103, 208);
}
.jHLpJH {
  position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
}
.juZbJw {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.jvXzrY {
    transform: rotate(-90deg);
}
.gZLYsd {
    font-size: 48px;
    font-weight: 400;
    color: rgb(78, 92, 110);
}
.eOklJp {
    position: relative;
    top: -13px;
    vertical-align: baseline;
    font-size: 30px;
    font-weight: 500;
}
.NNWRW {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(125, 149, 182);
    letter-spacing: 2px;
}
.jnIasx {
    display: inline-block;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color: rgb(155, 166, 178);
}
.hNPifj {
    position: relative;
}
.DcSwO:not(:first-child) {
    margin-left: 12px;
}
.bOYWuT:not(:first-child) {
    margin-left: 12px;
}
.jjuoaS {
    width: 100%;
}
.cDHkov {
    width: 100%;
    border-collapse: separate;
    caption-side: top;
    padding: 0px;
    background: white;
    border-spacing: 0px;
}
.gFthsd {
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.JpUWg:first-child {
    border-top: 1px solid rgb(235, 241, 250);
}
.JpUWg {
    border-bottom: 1px solid rgb(235, 241, 250);
}
.gjtwqS:first-child {
    padding-left: 32px;
}
.gjtwqS {
    text-align: left;
    padding: 16px 0px;
}
.kcdIRm {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(125, 149, 182);
    margin: 0px;
}
.fUryKq {
    position: relative;
}
.hHOqf {
    display: inline-block;
    cursor: pointer;
}
.wshpd {
    display: none;
    opacity: 0;
    bottom: 37px;
    left: -18px;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s ease 0s, top 0.3s ease 0s, bottom 0.3s ease 0s;
}
.dWTHvP {
    width: 220px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    white-space: initial;
    padding: 10px 15px;
    border-radius: 6px;
}
.jZNann {
    position: absolute;
    width: 16px;
    left: 18px;
    bottom: -7px;
    border-top: 8px solid rgba(0, 0, 0, 0.9);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.fUryKq .active {
  display: block;
    opacity: 1;
    bottom: 31px;
    left: -18px;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s ease 0s, top 0.3s ease 0s, bottom 0.3s ease 0s;
}
.hAIhbH {
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.lbqheK:hover {
    background: rgb(249, 251, 252);
}
.lbqheK {
    font-size: 18px;
    user-select: none;
    padding: 28px 36px;
    background: white;
}
.iOgRTW:first-child {
    padding-left: 32px;
}
.gSBfbh {
    width: 85px;
    color: rgb(125, 149, 182);
    vertical-align: middle;
}
.iOgRTW {
    cursor: default;
    border-top: 1px solid rgb(235, 241, 250);
    padding: 20px 20px 20px 0px;
}
.ipYatN {
    display: block;
    width: 40px;
    height: 40px;
    cursor: grab;
    margin: -10px;
    padding: 9px;
}
.gsbFzo {
    width: 32px;
    color: rgb(125, 149, 182);
}
.kUrxvt {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(80, 92, 108);
    margin: 0px;
}
.fTjXAK {
    cursor: pointer;
    border-top: 1px solid rgb(235, 241, 250);
    padding: 20px 20px 20px 0px;
}
.daPFoE {
    min-width: 140px;
    color: rgb(155, 166, 178);
}
.eEqhwd {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex: 1 1 auto;
}
.djBVUy {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}
.eVYYCV {
    color: rgb(6, 103, 208);
    padding-right: 16px;
}
.fLhmMj {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 1.5;
    color: rgb(125, 149, 182);
    margin: 0px;
}
.cQLVxC {
    width: 132px;
}
.eDtDZD {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.gyumpR {
    width: 100px;
}
.loTOuf {
    min-width: 76px;
    margin-right: 20px;
    color: rgb(255, 73, 73);
    text-align: left;
}
.ljqIVJ {
    width: 120px;
}
.laeBdW {
    width: 120px;
    padding: 5px;
}
.cojVTF {
    display: block;
    fill: none;
}
.dwgJXz {
    stroke-width: 1.7;
    stroke: rgb(218, 225, 233);
    pointer-events: none;
}
.fpKhwF {
    width: 70px;
}
.iOgRTW:last-child {
    padding-right: 32px;
}
.duobMB {
    width: 70px;
    text-align: center;
}
.isvwDb {
    min-width: 76px;
    margin-right: 20px;
    color: rgb(97, 202, 0);
    text-align: left;
}
.iEgmhD path {
    stroke: rgb(248, 183, 0);
}
.iEgmhD {
    fill: rgb(248, 183, 0);
    stroke-width: 1px;
    cursor: pointer;
}
/* Dash board css */
